<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>THIS IS A SHOW PAGE</p>

<p><input type='text' name='photo[name]' placeholder='Name'/></p>

<p><input type='text' name='photo[image]'/></p>
</div>
</body>
</html>